@mixin button-variant($color, $background, $border) {
  border-color: $border;
  color: $color;
  background-color: $background;
  &:focus,
  &:active,
  &:hover {
    color: $color;
    background-color: darken($background, 10%);
  }
}

@mixin button-size($padding-vertical, $padding-horizontal) {
  padding: $padding-vertical $padding-horizontal;
}