textarea,
input[type="email"],
input[type="text"],
input[type="search"] {
  -webkit-appearance: none;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}


input[type=text],
input[type=email] {
  max-width: 360px;
  height: $line-height-computed + 12; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
}

textarea,
input[type=text],
input[type=email] {
  display: block;
  border-radius: 5px;
  width: 100%;
  margin-bottom: $line-height-computed / 2;
  padding: 2px 5px;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid #fff;
  box-shadow: none;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: disabled;
  }

  $color-rgba: rgba(red($text-color), green($text-color), blue($text-color), .6);

  &:focus {
    border-color: $gray;
    outline: 0;
  }
  &.error {
    border-color: #ff8080;
  }
}

textarea {
  resize: vertical;
}

.form-message {
  display: none;
  &.active {
    display: block;
  }
}