.front-page {
	padding-bottom: $page-padding-bottom;
}

.lead {
	position: relative;
	margin: 10px 0 30px;
	text-align: center;
}

.btn-lead-top {
	display: none;
	position: absolute;
	right: 0;
	bottom: 0px;
	@media (max-width: $screen-sm-max) {
		display: inline-block;
		position: static;
	}
}

.lead-bottom {
	text-align: center;
	@media (max-width: $screen-sm-max) {
		display: none;
	}

}

.slogan {
	font-family: $font-family;
	font-size: 20px;
}
