* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	color: $text-color;
	font-family: $font-family;
	font-size: $font-size;
	line-height: $line-height;
	font-weight: $font-weight;
  background: $gray-light;
  @media (max-width: $screen-xs-max) {
    hyphens: auto;
  }
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

// Links
a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $link-color;
  }

  &:focus {
    @include tab-focus;
  }
}

// Images

img {
  vertical-align: middle;
}

// Responsive images (ensure images don't scale beyond their parents)
.img-responsive {
  @include img-responsive;
}


// iOS "clickable elements" fix for role="button"
//
// Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
// for traditionally non-focusable elements with role="button"
// see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

[role="button"] {
  cursor: pointer;
}

.wrapper {
  background: #fff;
  padding-top: $grid-gutter-width / 2;
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
  @media (max-width: $screen-xs-max) {
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
  }
}

.contact-info {
  .glyphicon {
    width: 25px;
  }
}