table {
	width: 100%;
	margin-bottom: $line-height-computed;
	ul {
		margin-bottom: 0;
	}
}

td {
	padding: 7px 10px;
	vertical-align: top;
}

tr:nth-child(odd) td {
	background: $gray-lighter;
}

.col-price {
	width: 80px;
}

.star {
	color: #F77474;
	font-weight: 700;
}