/* COLORS */
$brand-primary:           #b8870e;
$brand-secondary:         #ec621a;

$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                    #999; // #555
$gray-light:              #e9e9e9;
$gray-lighter:            #f1f1f1;

/* TYPE */
$font-family:            'Gotham-Book', sans-serif;
$font-family-headings:   'Gotham-Medium', sans-serif;
$font-family-mood:       'Gotham-Light', sans-serif;
$font-size:               16px;
$font-weight:             400;
$line-height:             1.6;
$line-height-computed:    floor(($font-size * $line-height));
$text-color:              #333;

$font-size-h1:            floor(($font-size * 2)); // ~36px
$font-size-h2:            floor(($font-size * 1.4)); // ~30px
$font-size-h3:            ceil(($font-size * 1.15)); // ~24px
$font-size-h4:            ceil(($font-size * 1.1));
$font-size-h5:            $font-size;
$font-size-h6:            ceil(($font-size * 0.85)); // ~12px

$link-color:              $brand-primary;
$link-hover-color:        darken($brand-primary, 15%);

/* GRID */
$grid-gutter-width:          30px;

$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
$screen-md:                  992px;
$screen-md-min:              $screen-md;
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;

$page-padding-bottom:       $grid-gutter-width * 2;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

// Small screen / tablet
$container-sm:            (720px + $grid-gutter-width);
$container-md:            (940px + $grid-gutter-width);
$container-lg:            (1140px + $grid-gutter-width);



