
.icon-bicycle:before { content: '\e800'; } /* '' */
.icon-fax:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-linkedin-squared:before { content: '\e803'; } /* '' */
.icon-facebook-official:before { content: '\e804'; } /* '' */
.icon-twitter-squared:before { content: '\e805'; } /* '' */
.icon-angle-down:before { content: '\e806'; } /* '' */
.icon-angle-right:before { content: '\e807'; } /* '' */
.icon-angle-left:before { content: '\e808'; } /* '' */
.icon-angle-up:before { content: '\e809'; } /* '' */
.icon-mail:before { content: '\e80a'; } /* '' */